/* footer.module.css */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 12px 19px 12px 0px;
  text-align: right;
  font-size: 12px;
  color: #4f576c;
  border-top: 1px solid #ececed;
}
