.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.searchBar {
  border: none;
  color: blueviolet;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 1rem;
  margin: 20px 0;
}

.post {
  color: black;
}

.date {
  font-size: .8rem;
  color: black;
}

@media screen and (max-width: 1096px) {
  .container {
    padding: 0 10%;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .container {
    padding: 0 0%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .container {
    padding: 0 0%;
  }
}

/* .container {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.date {
  font-family: monospace;
} */
